<!DOCTYPE html>

<html>
  <head> 
    <title> Page concluant le chapitre d'introduction sur les
    templates, routeurs, controleurs </title>
  </head>


  <body>
    <h1> Fin de ce chapitre </h1>
  </body>
</html>
