<style type="text/css">
  #slide2-text{
     position:absolute;
     left:0px;
     top:50px;
     color:black
  }
</style>

<div id="slide2-text">
  <h3>"Mais en fait, <br/> &nbsp; {% include '::jsfont.html.twig' with {'size':4} %}
    c'est quoi ? "</h3>
</div>
